* {
    margin: 0;
}

html {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.body {
    -webkit-text-stroke: .5px black;
    text-shadow: 0 0 2px black;
    background-image: url("img/fundo.jpg");
    background-position: center center;
    background-size: cover;
    background-size: 100vw 100vh;
    animation: colors 5s ease infinite;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

img {
    width: 45%;
    height: auto;
}

#container {
    width: 30rem;
    height: 100vh;
    max-width: 500px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

#border {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 2rem;
    box-shadow: rgba(255, 255, 255, 0.3) 10px 15px 30rem 4px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1vh 0 1.5vh 0;
}

#resposta {
    margin-top: 30px;
    transition: opacity 1s;
}

#resposta div {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 10px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    opacity: 0.9;
}

p {
    margin-bottom: 40px;
    opacity: 0.7;
}

input,
button {
    display: flex;
    width: 70%;
    padding: 20px;
    font-size: 20px;
    border-radius: 4px;
}

input {
    margin-bottom: 20px;
}

button {
    border: none;
    background-color: blueviolet;
    color: white;
    transition: filter .2s;
    justify-content: center;
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

@media all and (max-width: 375px) {
    #container {
        width: auto;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media all and (min-width: 375px) and (max-width: 500px) {
    #container {
        width: 80vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #border {
        height: 65vh;
    }
}

@media all and (max-height: 800px) {
    #container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #border {
        height: 85vh;
    }
    #img {
        width: 20%;
        height: 30%;
    }
    h1 {
        margin: 5px 0 2px 0;
    }
    p {
        margin-bottom: 5px;
    }
}